.button {
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color:  #2554b8;
}
.tab-header-background {
  -fx-background-color: #2554b8;
}
.jfx-tab-pane .tab-selected-line{
    -fx-border-color:  #000000;
}
.jfx-date-picker {
    -fx-background-color: white;
    -fx-font-weight: bold;    
}

.jfx-progress-bar > .track, .jfx-progress-bar > .bar {
-fx-background-radius: 0;
-fx-background-insets: 0;
}
.jfx-progress-bar > .bar {
-fx-background-color: #2554b8;
}